

@{
    
}

<div class="container mt-5 justify-content-center">
    <h1 class="text-center mb-5">Admin Panel</h1>
    <div class="row justify-content-center gap-4">
        <button class="col-3 border-0 rounded-2 p-3 fs-3">
            Edit Ingredients
        </button >
        <button class=" col-3 border-0 rounded-2 p-3 fs-3">
            Edit Pizzas
        </button>
        <button class="col-3 border-0 rounded-2 p-3 fs-3">
            View Orders
        </button>
    </div>
</div>